.app__headerImage {
  object-fit: contain;
  width: 250px;
}

.app__header {
  background: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}
