.app__headerImage {
  object-fit: contain;
  width: 250px;
}

.app__header {
  background: #fff;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: top;
  width: 100%;
}
